    <link rel="stylesheet" href="../css/index.css">

<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>


<div class="info-container">

<section class="info">


	<header>
		<h2>Richard Clowes</h2>
		<h3>Founder</h3>
	</header>
	<p>A genius, a dad and a great husband. Unfortunately he's not good at any of this but you'll never know.</p>


</section>

<section class="info">

  	<header>
  		<h2>Freddie Mercury</h2>
  		<h3>CFO</h3>
  	</header>
  	<p>I know he's dead, but he makes a terrific CEO. Awesome singer and state presence. Definitely would be quite the entertainer at the board meeting.</p>
</section>

<section class="info">
 
	<header>
		<h2>Harry Potter</h2>
		<h3>Wizard</h3>
	</header>
	<p>When all else fails, Harry just waves his wand and it's taken care of. He is our go-to person when all traditional muggle methods fail.</p>
</section>

</div>
<footer>
	Contact us: <span>admin@tweetful.io</span>
</footer>